<div class="container">
    <div>
        <h1 style="text-align: center;"> ESG Report <br> Material Topics </h1>
    </div>
    <div style="cursor: pointer;" (click)="subtopics(card.id)" *ngFor="let card of cards" class="responsive-div">
        <div class="topic-box">
            <h3>{{ card.name }}</h3>
        </div>
        <div class="status">
            <span *ngIf="card.status == 'Pending'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/process.png" alt="Process Icon">
                <span style="color: #5f5fb6;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'Not Started'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/reject.png" alt="Process Icon">
                <span style="color: #de6666;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'Completed'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/complete.png" alt="Process Icon">
                <span style="color: #86bd86;"> {{ card.status }}</span>
            </span>
            <span *ngIf="card.status == 'In Progress'" class="status-inline">
                <img style="width: 24px;" src="../../../../assets/images/hold.png" alt="Process Icon">
                <span style="color: #e0aa33;"> {{ card.status }}</span>
            </span>
        </div>
    </div>
    <button (click)="review()" class="btn mycolor">Review</button>
    <br>
    <div *ngIf="reports.length > 0">
        <h1 style="text-align: center;"> Past History Report </h1>
    </div>

    <div class="table-container">
        <div class="table-header">
            <div class="header-cell"></div>
            <div class="header-cell">Date Generated</div>
            <div class="header-cell">Report Score</div>
            <div class="header-cell">Action</div>
        </div>
        <div class="table-body">
            <div class="table-row" *ngFor="let report of reports">
                <div class="row-cell label">ESG Report</div>
                <div class="row-cell"> {{ report.updatedAt | date:'d-MMM-y' }}</div>
                <div class="row-cell">{{ report.report_score }}</div>
                <ng-container *ngIf="report.is_generated; else generatingTemplate">
                    <div class="row-cell">
                        <a class="download-btn" [href]="report.file_url">Download
                        </a>
                    </div>
                </ng-container>
                <ng-template #generatingTemplate>
                    <span class="waiting-text">Report is generating</span>
                </ng-template>
            </div>
        </div>
    </div>

</div>

<app-modal *ngIf="isModalOpen" [errortitle]="errortitle" (close)="closeModal()">
    <h2>{{errortitle}}</h2>
    <p style="font-size: 19px;">{{errormsg}}</p>
</app-modal>