<div class="container">
    <h1 style="text-align: center;" class="responsive-title">{{ name }}</h1>
    <p style="text-align: center;" class="responsive-description">{{ description }}</p>
    <div class="guid" *ngIf="note">
        <h2 class="responsive-title">Guidance note: </h2>
        <p class="responsive-description guidance">{{note}}</p>
    </div>
    <div class="tile-container">
        <div (click)="showQues(item.question_ids, item.name)" class="bar" *ngFor="let item of cards"
            (mouseover)="showTooltip(item.note, $event)" (mouseout)="hideTooltip()">
            <!-- <div><img (mouseover)="showTooltip(item.note, $event)" (mouseout)="hideTooltip()" class="icon"
                    *ngIf="item.note" src="../../../../assets/images/i.png"></div> -->
            <div class="bar-label">{{ item.name }}</div>
        </div>
        <div class="custom-tooltip" *ngIf="tooltipVisible" [style.top.px]="tooltipPosition.y"
            [style.left.px]="tooltipPosition.x">
            {{ tooltipText }}
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <button (click)="back()" class="btn" style="margin-left: 10px;" type="button">Back</button>
        <button (click)="complete()" class="btn">Complete</button>
    </div>
</div>
<br>
<br>
<br>
<br>
<app-modal *ngIf="isModalOpen" [errortitle]="errortitle" (close)="closeModal()">
    <h2>{{errortitle}}</h2>
    <p style="font-size: 19px;">{{errormsg}}</p>
</app-modal>