<section class="content">
  <div class="icons">
    <img src="../../assets/images/logo3.png" alt="Logo">
    <h4 style="color: white;">ESG AI Reporting Sdn. Bhd.</h4>
    <p style="color: white;">Unit R-3A-17, Emporis Kota<br>
      Damansara, Persiaran Surian<br>
      47810, Petaling Jaya<br>
      Selangor</p>

  </div>
  <nav style="margin-top: 6%;" class="footer-nav">
    <div>
      <a href="#">FAQ</a>
      <a href="#">Terms And Condition</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Cancellation & Refund Policy</a>
      <a routerLink="/login">TRY ESG Report</a>
    </div>
    <div>
      <a href="#">Contact Us</a>
      <a href="#"></a>
      <a href="#">Email: tech&#64;esgaireporting.com</a>
      <a href="#">Phone number: +6018-662 8134</a>      
    </div>
  </nav>
</section>