.how-to-use-section {
  text-align: center;
  padding: 4rem 1rem;
  background-color: #EDF4EE;
  margin-top: -75px;

  .section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    .highlight {
      color: #339c8e;
    }
  }

  .steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    padding-top: 50px;

    .step {
      max-width: 300px;
      flex: 1 1 280px;
      text-align: center;

      .step-icon {
        height: 100px;
        margin-bottom: 1rem;
      }

      .step-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      .step-text {
        font-size: 0.95rem;
        color: #555;
      }
    }
  }

  .image-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .bottom-image {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
  }
}


.section-header {
  font-size: 2rem;
  margin-bottom: 10px;

  span {
    color: #2c947f !important;
    font-family: "OpenSans-bold" !important
  }
}

.mid-section{
  background-image: url('../../../../assets/images/banner-02.png');
  background-size: 100% 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  position: relative;
}
.mid-section h2{
  max-width: 950px;
  text-align: center;
  line-height: 60px;
  font-style: italic;
}
.block{
  display: block;
}

@media only screen and (max-width:767px) {

  .about-image img{
    display: none;
  }
  .about-section{
    flex-direction: row;
    padding: 0 30px;
    background-image: url(../../../../assets/images/bg02-mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .about-text{
    margin-bottom: 650px;
  }

  .about-text{
    font-size: 3rem;
  }
  .about-text h3{
    font-size: 1.4rem;
  }
  .about-text p{
    font-size: 18px;
  }
  .mid-section{
    background-image: url('../../../../assets/images/banner-02-mobile.png');
    background-size: 100% 100%;
    font-size: 20px;
    margin-top: -70px;
    padding-top: 80px;
    padding-bottom: 110px;
  }
  .mid-section h2{
    line-height: 38px;
  }
  .how-to-use-section  .steps-container .step{
    max-width: none !important;
    text-align: left !important;
    display: flex;
    align-items: center;
    gap: 25px;
    margin: 20px;
  }
  .steps-container{
    justify-content: space-between !important;
    gap: 0 !important;
    margin-bottom: 1rem !important;
    padding-top: 20px !important;
  }
  .steps-container .step .step-icon{
    height: 75px !important;
    margin-bottom: 0 !important;
  }
  .steps-container .step:nth-child(2) {
    flex-direction: row-reverse !important;
}
#articles{
  margin-top: 150px;
}
#articles .section-header{
  margin-top: -130px !important;
  margin-bottom: 120px !important; 
}
#articles .section-header span{
  color: #509787 !important;
}
.price-container{
  margin: 15px 0 !important;
}
#articles p.mobile-white{
  color: #fff !important;
}
#articles span.mobile-white{
  color: #fff !important;
}

.section{
  height: 1200px !important;
}


}