.how-to-use-section {
  text-align: center;
  padding: 4rem 1rem 0rem 1rem;
  background-color: #EDF4EE;
  margin-top: -75px;

  .section-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    .highlight {
      color: #339c8e;
    }
  }

  .steps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2rem;
    padding-top: 50px;

    .step {
      max-width: 300px;
      flex: 1 1 280px;
      text-align: center;

      .step-icon {
        height: 100px;
        margin-bottom: 1rem;
      }

      .step-title {
        font-size: 1.6rem;
        font-family: "OpenSans-bold";
        margin-bottom: 0.5rem;
        color: #1F3240;
        line-height: 1.1;
        padding: 0 30px;
      }

      .step-text {
        font-size: 1.1rem;
        color: #555;
        font-weight: lighter;
        line-height: 1.2;
      }
    }
  }

  .image-section {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    .bottom-image {
      max-width: 100%;
      height: auto;
      border-radius: 6px;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
  }
}


.section-header {
  font-size: 3.5rem;
  margin-bottom: 120px;

  span {
    color: #2c947f !important;
    font-family: "OpenSans-bold" !important
  }
}

.section-header2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  line-height: 55px;

  span {
    color: #2c947f !important;
    font-family: "OpenSans-bold" !important
  }
}


.mid-section {
  background-image: url('../../../../assets/images/banner-02.png');
  background-size: 100% 100%;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.8rem;
  position: relative;
}

.mid-section h2 {
  max-width: 950px;
  text-align: center;
  line-height: 1.1;
  font-style: italic;
}

.block {
  display: block;
}

p.mobile-white {
  max-width: 550px;
  margin: 25px auto;
}

.header-banner-mobile{
  display: none;
}

span.break-year {
  display: block;
  line-height: unset !important;
}

@media only screen and (max-width:767px) {

  #hero{
    height: auto !important;
  }

  .about-image img {
    display: none;
  }

  .header-banner-mobile{
    display: block;
  }
  .header-banner-mobile img {
    width: 100%;
}

  .about-section {
    flex-direction: row;
    padding: 0 30px;
    background-image: url(../../../../assets/images/bg02-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    .about-text {
      margin-bottom: 650px;
    }

    .about-text h1 {
      font-size: 2.5rem;
    }

    .about-text h3 {
      font-size: 1.4rem;
    }

    .about-text p {
      font-size: 18px;
    }
  }

  .mid-section {
    background-image: url('../../../../assets/images/banner-02-mobile.png');
    background-size: 100% 100%;
    font-size: 20px;
    margin-top: -70px;
    padding-top: 80px;
    padding-bottom: 110px;

    h2 {
      line-height: 38px;
    }
  }

  .how-to-use-section {
    .steps-container .step {
      max-width: none !important;
      text-align: left !important;
      display: flex;
      align-items: center;
      gap: 25px;
      margin: 20px;
    }

    h1 {
      font-size: 2.5rem;
    }
  }

  .steps-container {
    justify-content: space-between !important;
    gap: 0 !important;
    margin-bottom: 1rem !important;
    padding-top: 20px !important;
  }

  .steps-container .step .step-icon {
    height: 75px !important;
    margin-bottom: 0 !important;
  }

  .steps-container .step:nth-child(2) {
    flex-direction: row-reverse !important;
  }

  #articles {
    margin-top: 250px;
  }

  #articles .section-header {
    margin-top: -207px !important;
    margin-bottom: 120px !important;
    font-size: 2.5rem;
  }

  #articles .section-header span {
    color: #509787 !important;
    display: block;
  }

  .price-container {
    margin: 15px 0 !important;
  }

  #articles p.mobile-white {
    color: #b5b5b5 !important;
  }

  #articles span.mobile-white {
    color: #fff !important;
  }

  .section {
    height: 1400px !important;
  }

  .how-to-use-section .step-title {
    padding: 0 0px !important;
  }



}

@media (min-width:768px) and (max-width:991px) {
  #hero {
    padding-left: 3rem;
    padding-top: 20px;
    grid-template-columns: calc(75vw - 10rem) 50vw;
    background-size: contain;
    background-position: center center;
  }
  .about-image{
    display: none;
  }
  .about-section{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: row;
  }
  .about-section .about-text{
    margin-bottom: 650px;
  }
  .steps-container{
    gap: 2rem !important;
    flex-wrap: nowrap !important;
  }
  .step .step-title{
    padding: 0 15px !important;
  }
  .step .step-text{
    font-size: 1rem !important;
    line-height: 1.2 !important;
  }
  .step .step-icon{
    height: 80px !important;
    margin-bottom: 0rem !important;
  }
  .section-header{
    margin-bottom: 15px;
    margin-top: 0 !important;
  }
  .section{
    padding-bottom: 46%;
    background-position: center center;
    margin-bottom: -50%;
    margin-top: 50px;
  }
  footer{
    padding-top: 75px;
  }
  .content{
    margin-left: 0 !important;
  }
  .content .icons{
    margin-right: 50px;
  }
  header{
    margin-left: 30px !important;
    padding-block: 0;
  }

}


@media (min-width:992px) and (max-width:1199px) {
  #hero {
    padding-left: 3rem;
    padding-top: 20px;
    grid-template-columns: calc(75vw - 10rem) 50vw;
    background-size: contain;
    background-position: center center;
  }
  // .about-image{
  //   display: none;
  // }
  // .about-section{
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   flex-direction: row;
  // }
  // .about-section .about-text{
  //   margin-bottom: 650px;
  // }
  #hero .content h1{
    font-size: 3.0rem;
  }

  .about-section .about-text h3{
    font-size: 1.2rem;
  }
  .about-section .about-text p{
    margin-bottom: 10px;
    font-size: 1.04rem
  }


  .steps-container{
    gap: 2rem !important;
    flex-wrap: nowrap !important;
  }
  
  .step .step-text{
    font-size: 1rem !important;
    line-height: 1.2 !important;
  }
  .step .step-icon{
    height: 80px !important;
    margin-bottom: 0rem !important;
  }
  .section-header{
    margin-bottom: 60px;
    margin-top: 0 !important;
  }
  .section{
    padding-bottom: 70%;
    background-position: center center;
    margin-bottom: -60%;
    margin-top: 50px;
  }
  footer{
    padding-top: 75px;
  }
  .content{
    margin-left: 0 !important;
  }
  .content .icons{
    margin-right: 50px;
  }
  header{
    margin-left: 30px !important;
    padding-block: 0;
  }

}