<section class="hero" id="hero">
  <div class="content">
    <h1>
      Simplify Your Company's ESG Reporting with <span>ESG AI</span></h1>
    <p>
      Say goodbye to complexity - our streamlined ESG reporting tool transforms sustainability reporting into a simple,
      powerful process.
    </p>
    <p>
      Subscribe now to elevate the way your company generates reports for Environmental, Social, and Governance
      performance.
    </p>
    <button [routerLink]="['signup']" class="btn">JOIN US</button>
  </div>
  <div style="display: none;" class="images">
    <img src="../../assets/images/image-mockups.png" alt="Hero Image">
  </div>
</section>
<section class="about-section">
  <div class="about-image">
    <img src="../../assets/images/about-ESG.png" alt="ESG Dashboard" />
  </div>
  <div class="about-text">
    <h1>About <span>ESG AI</span></h1>
    <h3>Simplify Process • Save Time • Stay Compliant</h3>
    <p>
      Our easy-to-use platform streamlines your ESG reporting process, saving you time and ensuring compliance.
    </p>
    <p>
      At ESG AI we believe that transparency and accountability are the foundation of sustainable growth. Our mission
      is to empower organizations to navigate the evolving landscape of Environmental, Social, and Governance (ESG)
      reporting with confidence and clarity.
    </p>
    <p>
      By just providing our tool the required information and data, our AI-powered reporting tool will generate a
      clean and structured ESG report that meets the global reporting standards such as GRI.
    </p>
    <p>
      Meanwhile, we will be introducing more features and functions to assist our users in tracking and analyzing
      their organisation's ESG performance! ESG AI is your partner in driving measurable impact and long-term value
      through responsible business practices.
    </p>
  </div>
</section>
<div class="mid-section">
    <h2>Is your business ready <span class="block"></span> for ESG transparency?</h2>
</div> <!-- mid-section -->

<section id="how-to-use" class="how-to-use-section">
  <h1 class="section-header2">
    How to use <span>the Tool</span>
  </h1>

  <div class="steps-container">
    <div class="step">
      <div>
      <img src="../../assets/images/howtouse01.png" alt="Step 1" class="step-icon" />
    </div>
    <div>
      <h3 class="step-title">Tell Us About Your Company</h3>
      <p class="step-text">
        Get started for free — access our ESG reporting platform and create your company profile with just a few
        essential details.
      </p>
    </div>
    </div>

    <div class="step">
      <div>
      <img src="../../assets/images/howtouse02.png" alt="Step 2" class="step-icon" />
    </div>
    <div>

      <h3 class="step-title">Input Your ESG Data</h3>
      <p class="step-text">
        Provide your ESG data and information by answering guided questions for each relevant material topic — making
        reporting easier and more accurate.
      </p>
    </div>

    </div>

    <div class="step">
      <div>
      <img src="../../assets/images/howtouse03.png" alt="Step 3" class="step-icon" />
    </div>
    <div>
      <h3 class="step-title">Generate Your Report</h3>
      <p class="step-text">
        With a single click, our AI-powered system transforms your data into comprehensive, stakeholder-ready ESG
        reports — clear, professional, and compliant.
      </p>
      
    </div>
    </div>
  </div>

  <div class="image-section">
    <iframe width="1240" height="650" src="https://www.youtube.com/embed/SbAKYgfYET8?si=DeGwCFx7XYNm7fxy"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>


<section style="display: none;" id="reason">
  <h2>How To Use The Tool</h2>
  <div class="tools-list">
    <div class="tools-item">
      <div>
        <img class="tools-img" src="../../assets/images/howtouse01.png" alt="Award Image">
        <h1>Tell Us About Your Company</h1>
        <p>Get started for free — access our ESG reporting platform and create your company profile with just a few
          essential details. </p>
      </div>
    </div>
    <div class="tools-item">
      <div>
        <img class="tools-img" src="../../assets/images/howtouse02.png" alt="Award Image">
        <h1>Input Yoour ESG Data</h1>
        <p>Provide your ESG data and information by answering guided questions for each relevant material topic — making
          reporting easier and more accurate. </p>
      </div>
    </div>
    <div class="tools-item">
      <div>
        <img class="tools-img" src="../../assets/images/howtouse03.png" alt="Award Image">
        <h1>Generate Your Report</h1>
        <p>With a single click, our AI-powered system transforms your data into comprehensive, stakeholder-ready ESG
          reports — clear, professional, and compliant. </p>
      </div>
    </div>
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/SbAKYgfYET8?si=DeGwCFx7XYNm7fxy"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>
<div>
  <img style="width: 101%;" src="../../assets/images/bg3.png">
</div>
<div class="section">
  <section style="display: none;" id="reason">
    <h2>How To Use The Tool</h2>
    <div class="reason-list">
      <div class="reason-item">
        <div>
          <img class="divs" src="../../assets/images/howtouse01.png" alt="Award Image">
        </div>
      </div>
      <div class="reason-item">
        <div>
          <img class="divs" src="../../assets/images/howtouse02.png" alt="Award Image">
        </div>
      </div>
      <div class="reason-item">
        <div>
          <img class="divs" src="../../assets/images/howtouse03.png" alt="Award Image">
        </div>
      </div>
    </div>
  </section>
  <section id="articles">
    <div style=" text-align: center;">
      <div>
        <h1 class="section-header">Our<span>Pricing Plan</span></h1>
        <br>
        <span style="font-weight: bold; font-size: 26px;color:#fff;">
          ESG AI SUBSCRIPTION</span>
        <br>
        <div class="price-container">
          <span class="price" style="color:#fff;">RM600</span>
          <span style="color:#fff;">per year</span>
        </div>
        <br>
        <span style=" font-weight: bold; font-size: 39px;line-height: 35px;color:#fff;">FREE
          ACCESS <br>
          NOW!</span>
        <br>
        <p class="mobile-white" style="color: #fff;font-size: 21px; text-align: center; line-height: 110%;">
          Create your ESG AI account to use our tool for free. Accessnow before the the platform end the
          free
          access period<br>
        </p>
        <p class="mobile-white" style="color: #fff;font-style: italic;">"Subscribers need to subscribe to the platform in
          order to
          generate
          ESG report after the free access period
          ended"</p>
        <br>
        <br>
        <button [routerLink]="['signup']" class="btn">JOIN US</button>
      </div>
    </div>
  </section>
</div>