section
  min-height: 70vh
  transition: 1s

.divs
  width: 230px

.section 
    background-image: url('../../../../assets/images/bg1-footer.png')
    background-size: cover
    padding-bottom: 44%
    background-position: top
    margin-bottom: -20%


#hero
  padding-left: 10rem
  display: grid
  grid-template-columns: calc(50vw - 10rem ) 50vw
  align-items: center
  background-image: url('../../../../assets/images/bg01a.png')
  background-size: cover
  background-position: bottom
  background-repeat: no-repeat
  height: 129vh
  margin-top: -79px
  background-color:#EDF4EE

  .content
    h1
      font-size: 3.4rem
      font-weight: 600
      line-height: 3.4rem
      color: black
      margin-block: 0
      margin-bottom:50px
    span
      font-family: 'OpenSans-bold' !important 
      color : #509787
    p
      line-height: 1.9rem
      color: #394A58
      margin-block: 2rem
      font-size: 1.4rem
      font-weight: lighter

  .images
    position: relative
    width: 100%
    height: 100%
    background-size: 150% 150%
    background-repeat: no-repeat
    background-position: 17% 70%
    z-index: 0

    img
      top: 50%
      position: absolute
      height: 150%
      transform: translate(20%, -50%)
      z-index: 1

.about-section
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  padding: 70px 20px
  max-width: 1200px
  margin: auto
  gap: 50px

  @media (max-width: 768px)
    flex-direction: column
    padding: 20px
    background-image: url('../../../../assets/images/bg02-mobile.png')

  .about-image
    flex: 1 1 400px
    
    img
      max-width: 100%
      border-radius: 8px
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1)

  .about-text
    flex: 1 1 500px
        margin-left: 15px

    h1
      font-size: 3.5rem
      margin-bottom: 10px
      font-weight:bold
      margin-top: 0

      span
        color: #2c947f
        font-family: "OpenSans-bold" !important

    h3
      font-style: italic
      font-weight: bold
      font-size: 2rem
      margin-bottom: 10px
      margin-top:10px
      color:#203243

    p
      margin-bottom: 15px
      font-size: 1.3rem
      line-height: 1.4


#reason
  padding-inline: 16rem 25rem
  padding-block: 5rem
  min-height: calc( 70vh - 10rem )
  text-align: center
  background-color : #EDF4EE
  margin-top: -75px

  h2
    font-size: 2.1rem
    font-weight: bold
    color: var(--dark-blue)
    margin-block: 0
    margin-left: 10%
    margin-bottom: 10%

  p
    line-height: 1.5rem
    margin-block: 2rem
    font-size: 21px
    margin-left:30px

  .reason
    &-list
      margin-top: 5rem
      display: grid
      grid-template-columns: repeat(4, calc(39% + 0.5rem))
      gap: 0rem
    
    &-item    
      opacity: 0.9
     
#articles
  padding-block: 0rem

 

  .btn 
    background-color:  #295263

  h2
    font-size: 3rem
    font-weight: 400
    color: var(--dark-blue)
    margin-block: 0

  .article-list
    display: grid
    grid-template-columns: repeat(4, calc(25% - 1.5rem))
    gap: 2rem
    margin-top: 5rem

    &-item
      width: 100%

@media screen and (max-aspect-ratio: 1)
  section
    opacity: 1

  .section 
    background-image: url('../../../../assets/images/bg05.png')
    background-size: cover
    padding-bottom: 0px
    background-position: top

  #hero
    padding-inline: 0
    display: flex
    background-image: url('../../../../assets/images/bg01.png')
    background-size: cover
    background-position: bottom
    background-repeat: no-repeat
    padding-top: 200px
    padding-bottom: 400px

    .content
      padding: 2rem

      h1
        font-size: 3rem

    .images
      height: unset
      min-height: 70vh

      img
        top: unset
        bottom: 0
        left: 50%
        transform: translate(-50%)
        width: calc(100% - 2rem)
        height: 125%

  #reason
    padding-block: 4rem
    padding-inline: 2rem
    text-align: center

    h2
      font-size: 2rem

    .reason
      &-list
        margin-top: 2rem
        grid-template-columns: repeat(3, calc(36% - 1rem))
    .divs
          width: 225px

  #articles
    padding-block: 4rem
    padding-inline: 2rem

    h2
      font-size: 2rem
      text-align: center

    .article
      &-list
        margin-top: 2rem
        grid-template-columns: repeat(2, calc(50% - 1rem))


  @media screen and (max-width: 767px)
    #hero
      .content
        padding-block: 3rem
        padding-inline: 3rem
        padding-top: 0 !important
        margin-top: -385px

        h1
          font-size: 2.6rem
          line-height: 44px
          margin-top:70px

      .images
        min-height: 50vh
        img
          width: calc(100% - 1.5rem)

    #reason
      padding-block: 3rem
      padding-inline: 1.5rem

      h2
        font-size: 1.5rem
        margin-left: 0%

      .reason
        &-list
          margin-top: 1.5rem
          grid-template-columns: auto
          gap: 1.5rem

    #articles
      padding-block: 3rem
      padding-inline: 1.5rem

      h2
        font-size: 1.5rem

      .article
        &-list
          margin-top: 1.5rem
          grid-template-columns: auto
          gap: 1.5rem


$dark-blue: var(--dark-blue) // Define your color variable
$cross-color: var(--dark-blue) // Color of the crossing line
$line-height: 2px // Thickness of the line
$line-length: 120% // Length of the crossing line (adjust as needed)

.price-container
  position: relative
  display: inline-block // Allows positioning of the pseudo-element
  margin-top: 25px
  margin-bottom: 20px

  .price
    font-size: 70px
    font-weight: bold
    font-family: 'OpenSans-Regular' !important
    color: white
    position: relative // Position relative for the pseudo-element
    z-index: 2 // Ensure the text appears above the line

    &::after
      content: '' // Empty content for the line
      position: absolute
      top: 50% // Center vertically
      left: 50% // Start from the center horizontally
      width: $line-length // Set the width to increase the line length
      height: $line-height // Thickness of the line
      background-color: white
      transform: rotate(349deg) // Rotate the line to 135 degrees
      transform-origin: center // Rotate around its center
      z-index: 1 // Make sure the line appears below the text
      margin-left: -50% // Center the line by moving left by half its width


.tools-list 
    display: flex
    flex-wrap: wrap
    justify-content: center
    gap: 100px
    /* Reduce spacing between items */
  
.tools-item 
    flex: 1 1 25%    
    max-width: 40%    

.tools-img 
    width: 50%
    height: auto

@media (max-width: 600px) 
  .tools-list 
      flex-direction: column
      align-items: center
      gap: 40px

  .tools-item 
      max-width: 100%
    
